@import "nullstyle.scss";
@import "fonts.scss";

$background-color: white;
$border-color: #ddd;
$box-shadow: 0 2px 4px rgba(0,0,0,0.1);
$collapsed-height: 60px;
$expanded-height: 300px;
$weather-icon-size: 50px;
$todo-toggle-size: 60px;

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:#ddd;

}

#background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('images/clouds.png');
    z-index: -1;
    filter: brightness(80%)
    
}

#weather-block {
    position: fixed;
    top: 20px;
    right: 100px;
    width: 150px;



    .search {
        width: 82%;
        height: 200px;
        background-color: $background-color;
        opacity: 0.9;
        border: 1px solid #555;
        border-radius: 15px;
        padding: 5px;

        .open-search {
            background: #81e5d6;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid #555;
            padding: 10px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            img {
                width: 14px;
            }
        }
        

        .search__content{
            display: none;
            width: 100%;
            
            
            

            input {
                background: #f8f9f9;
                color: #555;
                padding: 5px 10px;
                height: 30px;
                border-radius: 30px;
                margin-right: 5px;
                font-size: 18px;
            }

            button {
                background: #81e5d6;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid #555;
                padding: 10px;
                width: 30px;
                height: 30px;
                cursor: pointer;
    
                img {
                    width: 14px;
                }
            }

            .search__cross{
                margin: 0 5px 0 5px;
            }
    
        }

        
        
    }

    .error {
        text-align: left;
        margin-left: 10px;
        font-size: 14px;
        margin-top: 10px;
        display: none;
        color:#ddd;
    }

    .weather {
        width: 200px;

        .weather-icon{
            width: 50px;
            margin-top: 10px;
        }

        h1 {
            font-size: 20px;
            font-weight: 500;

        }

        h2 {
            font-size: 16px;
            font-weight: 400;
            margin-top: 5px;
        }
       
    }


   
    &.collapsed {
        max-height: $collapsed-height;

        .search {
            display: none;
        }
        
        
    }

    &.expanded {
        max-height: $expanded-height;
        width: 450px;
        right: -50px;
        top: 20px;
        
        .weather {
            display: flex;
            flex-direction: column;
            width: 200px;
            position: relative;
            top: -150px;
            color: #555;
        }
       
        
    }
}


#date-time-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    #date-time {
        font-size: 60px;
        color: #ffffff;
        text-align: center;
        
    }
}



#todo-list {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 8px;
    box-shadow: $box-shadow;
    transition: max-height 0.3s ease;
    overflow: hidden;
    color: #555;



    h3 {
        font-size: 20px;
    }

    input {
            margin-top: 10px;
            border: 1px solid #555;
            border-radius: 8px;
            width: 90%;
            height: 30px;

            &::placeholder {
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }
        }


    ul {
        .checked {
            color: #555;
            text-decoration: line-through;

            &::before {
                background-image: url('../images/checked.png');
            }
        } 

        li {
            font-size: 17px;
            padding: 12px 8px 12px 50px;
            user-select: none;
            cursor: pointer;
            position: relative;

            span {
                position: absolute;
                right: 0;
                top: 5px;
                width: 40px;
                height: 40px;
                font-size: 22px;
                color: #555;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;

                &:hover {
                    background: #edeef0;
                }
            }

            &::before {
                content: '';
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-image: url('../images/unchecked.png');
                background-size: cover;
                background-position: center;
                top: 12px;
                left: 8px;
            }

            
        }
    }

    #todo-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: none;
        outline: none;
    }


    &.collapsed {
        max-height: $collapsed-height;
    }

    &.expanded {
        width: 300px;
        height: 300px;

        #todo-toggle {
            display: none;
        }
    }

    
}



#todo-content {
    padding: 10px;
}

#todo-items {
    list-style-type: none;
    padding: 0;

    li {
        padding: 5px 0;
    }
}
